<div class="panel-body">
    <div class="form-group">
        <label>First Name:</label>
        <input class="form-control" ng-model="contact.FirstName" disabled/>
    </div>
    <div class="form-group">
        <label>Last Name:</label>
        <input class="form-control" ng-model="contact.LastName" disabled/>
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input class="form-control" ng-model="contact.Email" disabled/>
    </div>
    <div class="form-group">
        <label>Department:</label>
        <input class="form-control" ng-model="contact.Department" disabled/>
    </div>
    <div class="form-group">
        <label>Year:</label>
        <input class="form-control" ng-model="contact.Year" disabled/>
    </div>
    <button class="btn btn-primary" ng-click="back()">Back</button>
</div>