<div class="panel-body">
    <div style="float: right">
        <a href="#/newContact/" class="btn btn-xs btn-primary">Add</a>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contact in contacts">
             <td>{{contact.FirstName}}
            <td>{{contact.LastName}}</td>
            <td>{{contact.Email}}</td>
            <td>{{contact.PhoneNumber}}</td>
            <td class="text-center">
                <a href="#/detailContact/{{contact.Id}}" class="btn btn-xs btn-primary">Detail</a>
                <a href="#/editContact/{{contact.Id}}" class="btn btn-xs btn-primary">Edit</a>
                <button class="btn btn-xs btn-primary"
                        ng-click="deleteContact(contact)">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>