<div class="panel-body">
    <div class="form-group">
        <label>First Name:</label>
        <input class="form-control" ng-model="contact.FirstName" />
    </div>
    <div class="form-group">
        <label>Last Name:</label>
        <input class="form-control" ng-model="contact.LastName" />
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input class="form-control" ng-model="contact.Email" />
    </div>
    <div class="form-group">
        <label>Phone Number:</label>
        <input class="form-control" ng-model="contact.PhoneNumber" />
    </div>
    <button class="btn btn-primary" ng-click="createContact(contact)">Save</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>